
.naresh{
    font-size: 1.2rem; 
    color: #cb1212; 
}

.pp{
    color: blue; 
    font-size: 24px; 
}

.ht{
    font-size: 1em; 
    color: rgb(157, 225, 12);
    line-height: 1.5; 
}

.nn{
    color: rgb(8, 203, 44); 
    font-size: 24px;
}
